<app-forms></app-forms>
<div class="container">
  <h2>Template Driven Form</h2>
  <form #myForm="ngForm" (ngSubmit)="onSubmit()">
    <p>
      <label>First Name:</label>
      <input
        type="text"
        name="firstName"
        [(ngModel)]="user.firstName"
        [placeholder]="placeholder.firstName"
        required
      />
    </p>
    <p>
      <label>Password:</label>
      <input
        type="password"
        name="password"
        [(ngModel)]="user.password"
        [placeholder]="placeholder.password"
        required
      />
    </p>
    <p>
      <button type="submit" [disabled]="!myForm.valid">Submit</button>
    </p>
  </form>
  <div>
    <h2>Results</h2>
    <p>First Name: {{ user.firstName }}</p>
    <p>Password: {{ user.password }}</p>
  </div>
  <div class="image-div">
    <p *ngIf="showTs && showHtml">click image for copyable code</p>
    <div *ngIf="!showTs">
      <button (click)="showTs = true">revert</button>
      <pre>{{ ts }}</pre>
    </div>
    <img
      *ngIf="showTs"
      (click)="showTs = false"
      src="../../assets/images/template-ts1.png"
      alt="code"
    />
    <div *ngIf="!showHtml">
      <button (click)="showHtml = true">revert</button>
      <pre>{{ html }}</pre>
    </div>
    <img
      *ngIf="showHtml"
      (click)="showHtml = false"
      src="../../assets/images/template-html1.png"
      alt="code"
    />
  </div>
</div>
