<app-httpclient></app-httpclient>
<div class="container">
  <h3>Enter your favorite song</h3>
  <label for="title">title</label>
  <input type="text" id="title" [(ngModel)]="favSong.title" />
  <label for="artist">artist</label>
  <input type="text" id="artist" [(ngModel)]="favSong.artist" />
  <button [disabled]="!favSong.title || !favSong.artist" (click)="submit()">
    Submit
  </button>
  <h3>Response</h3>
  <p>title: {{ response?.title }}</p>
  <p>artist: {{ response?.artist }}</p>
</div>
<img src="../../../assets/images/post-html.png" alt="code" />
<img src="../../../assets/images/post-ts.png" alt="code" />
