<app-rxjs></app-rxjs>
<div class="container">
  <p class="code">numbers: {{ numbers }}</p>
  <ul>
    <li>'of' converts its arguments to an observable sequence</li>
    <li>
      'pipe' takes an observable as an argument, and returns a new observable
      while not modifying the original
    </li>
    <li>'first' emits only the first value of the source observable</li>
  </ul>
  <img src="../../../assets/images/rxjs-first-ts.png" alt="code" />
  <img src="../../../assets/images/rxjs-first-html.png" alt="code" />
</div>
