<app-forms></app-forms>
<div class="container">
  <h1>Reactive Form Example:</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>
      <label>First Name:</label>
      <input
        type="text"
        formControlName="firstName"
        [placeholder]="placeholder.firstName"
      />
    </p>
    <p>
      <label>Password:</label>
      <input
        type="password"
        formControlName="password"
        [placeholder]="placeholder.password"
      />
    </p>
    <p>
      <button type="submit" [disabled]="!form.valid">Submit</button>
    </p>
  </form>
  <div>
    <h2>Results</h2>
    <p>First Name: {{ form.value.firstName }}</p>
    <p>Password: {{ form.value.password }}</p>
  </div>
  <div class="image-div">
    <p *ngIf="showTs && showHtml">click image for copyable code</p>
    <div *ngIf="!showTs">
      <button (click)="showTs = true">revert</button>
      <pre>{{ ts }}</pre>
    </div>
    <img
      *ngIf="showTs"
      (click)="showTs = false"
      src="../../assets/images/reactive-ts1.png"
      alt="code"
    />
    <div *ngIf="!showHtml">
      <button (click)="showHtml = true">revert</button>
      <pre>{{ html }}</pre>
    </div>
    <img
      *ngIf="showHtml"
      (click)="showHtml = false"
      src="../../assets/images/reactive-html1.png"
      alt="code"
    />
  </div>
</div>
