.container {
  margin-left: 30px;
}

.logic {
  border: 1px solid gray;
  padding: 30px;
  width: 300px;
  overflow-y: scroll;
  max-height: 400px;
}

.description {
  max-width: 500px;
}

img {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
