.container {
  display: flex;
}

.home-btn {
  margin-left: 20px;
  margin-top: 20px;
}

.parent {
  margin: 20px;
  padding: 30px;
  border: 1px solid gray;
  border-radius: 10px;
  width: max-content;
}
