<app-content-projection-nav></app-content-projection-nav>
<div class="container">
  <app-ng-content-child>
    <h2 header>Display Specific Content</h2>
    <p title>My awesome title from parent template!</p>
    <p class="desc">A description provided in the parent template</p>
  </app-ng-content-child>
  <p>parent.html</p>
  <img src="../../../../assets/images/ng-content-parent.png" alt="code" />
  <p>child.html</p>
  <img src="../../../../assets/images/ng-content-child.png" alt="code" />
</div>
