<app-rxjs></app-rxjs>
<div class="container">
  <div class="code">
    <p>numbers: {{ numbers }}</p>
    <p>moreNumbers: {{ moreNumbers }}</p>
  </div>
  <h3>
    an awesome way to bundle all of your subscriptions <br />
    into one variable, and subscribe from all of them at the <br />
    same time (within ngOnDestroy() in this example)
  </h3>
  <p>
    just 'npm install subsink' and import {{ "{" }}SubSink{{ "}" }} from
    'subsink'
  </p>
  <img src="../../../assets/images/subsink-ts.png" alt="code" />
  <img src="../../../assets/images/subsink-html.png" alt="code" />
</div>
