<app-scss-nav></app-scss-nav>
<div class="container" cdkDrag>
  <h1>To-Do List</h1>
  <ul>
    <li>Go to the gym</li>
    <li>Hit baseballs</li>
    <li>Get cat food</li>
    <li>Study Angular</li>
  </ul>
  <button>Add Entry</button>
</div>
<div class="desc">
  <h2>
    (Feel free to drag and reposition the To-Do List, and both code snippets
    below for easier viewing!)
  </h2>
  <h3>What is Sass?</h3>
  <ul>
    <li>
      Syntactically awesome stylsheets is a CSS-preprocessor that reduces
      clutter in your stylesheet
    </li>
    <li>Sass is basically SCSS without curly braces, and semi-colons</li>
    <li>
      It is very simple to look at, but be careful of your indentation, as it
      used for nesting, and matters greatly
    </li>
    <li>
      To learn more, and run in your local project, please refer to the SCSS
      section, as the steps are the same
    </li>
  </ul>
  <h3>.sass</h3>
  <img src="../../../assets/images/sass-sass.png" alt="code" cdkDrag />
  <h3>.html</h3>
  <img src="../../../assets/images/sass-html.png" alt="code" cdkDrag />
</div>
