.container {
  margin-left: 30px;
}

.code {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 20px;
  width: max-content;
}

img {
  margin: 10px;
  cursor: pointer;
}

.image-div {
  margin-top: 20px;
}
