.container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  justify-content: space-evenly;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 30px;
}

.one {
  width: max-content;
}

.btns {
  display: flex;
  width: max-content;
  justify-content: space-between;
  margin-top: 20px;
}

.btns button {
  width: 100px;
  margin-right: 20px;
  font-size: larger;
}

.box {
  margin-left: 30px;
}

img {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
