.container {
  margin: 20px;
}

div {
  margin: 20px;
}

.text {
  padding: 30px;
  border: 1px solid grey;
  border-radius: 10px;
  width: max-content;
}

h3 {
  width: 300px;
}

p {
  margin: 20px;
}

img {
  margin: 20px;
  cursor: pointer;
}
