<app-rxjs></app-rxjs>
<div class="container">
  <p class="code">numbers: {{ numbers }}</p>
  <ul>
    <li>'of' converts its arguments to an observable sequence</li>
    <li>
      'pipe' takes an observable as an argument, and returns a new observable
      while not modifying the original
    </li>
    <li>'map' modifies/transforms data emitted from an observable</li>
  </ul>
  <img src="../../../assets/images/of-pipe-map-ts.png" alt="code" />
  <img src="../../../assets/images/of-pipe-map-html.png" alt="code" />
</div>
