@font-face {
  font-family: nunito;
  src: url(./assets/fonts/Nunito-Regular.ttf) format("truetype");
}

html {
  font-family: nunito;
  background-color: rgb(28, 28, 28);
  color: whitesmoke;
}

* {
  font-family: nunito;
}

button {
  padding: 10px;
  color: black;
  background: whitesmoke;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: rgb(137, 137, 137);
  color: black;
  cursor: default;
}

input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
