.container {
  margin-left: 30px;
}

.logic {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 30px;
  width: max-content;
}

.data {
  width: 400px;
  height: 400px;
  overflow-y: scroll;
}

.description {
  max-width: 500px;
}

img {
  margin-right: 10px;
  margin-top: 10px;
}
