<div class="container">
  <div class="content">
    <img
      class="angular-logo"
      src="../../assets/images/angular.svg"
      alt="angular-logo"
    />
    <h2>Kieran's Angular Toolbox</h2>
    <div *ngIf="!hasName" class="newbie">
      <h3>New here? Enter your name or nickname!</h3>
      <div class="info">
        <input type="text" placeholder="ultimate_koder281" [(ngModel)]="name" />
        <button [disabled]="!name" (click)="setName()">Enter</button>
      </div>
    </div>
    <div class="returner" *ngIf="hasName">
      <h3>Welcome Back {{ name }}!</h3>
      <button (click)="editName()">Edit Nickname</button>
    </div>
    <p class="greeting">
      a friendly website designed to provide developers with simple examples of
      key Angular concepts
    </p>
  </div>
  <div class="sidebar">
    <button routerLink="spinner">Angular Material</button>
    <button routerLink="graphql">Apollo (GraphQL)</button>
    <button routerLink="styling">Attribute Directives</button>
    <button routerLink="authguard">AuthGuard + CanActivateFn</button>
    <button routerLink="axios">Axios (not Angular)</button>
    <button routerLink="behavior-subject">Behavior Subject</button>
    <button routerLink="ng-content">Content Projection</button>
    <button routerLink="constructor-injection">Dependency Injection</button>
    <button routerLink="template-driven-form">Forms</button>
    <button routerLink="http-get">Http Client</button>
    <button routerLink="input">Input</button>
    <button routerLink="input-mask">Input Masking</button>
    <button routerLink="local-storage/set">Local Storage</button>
    <button routerLink="subscribe">Observables</button>
    <button routerLink="output">Output + Event Emitters</button>
    <button routerLink="async-pipe">Pipes</button>
    <button routerLink="routerlink">Routing</button>
    <button routerLink="of-pipe-map">RxJS</button>
    <button routerLink="ng-for">Structural Directives</button>
    <button routerLink="view-child">View Child</button>
    <button class="inactive">Components + Services</button>
    <button class="inactive">Resolve Guard</button>
    <button class="inactive" routerLink="basic-unit-test" disabled>
      Unit Testing
    </button>
  </div>
</div>
