.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 97vw;
  margin: 10px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.angular-logo {
  width: 100px;
}

.sidebar button {
  border-radius: 0;
  background-color: rgba(213, 57, 57, 0.725);
  color: whitesmoke;
  padding: 30px;
  transition: 0.3s;
  font-size: 16px;
}

.sidebar button:hover {
  background: rgba(255, 0, 0, 0.496);
}

.sidebar button.inactive {
  cursor: default;
  background-color: rgb(58, 58, 58);
}

@media screen and (max-width: 600px) {
  .sidebar button:hover {
    background: rgba(213, 57, 57, 0.725);
  }
}
