<div class="container">
  <div class="content">
    <img
      class="angular-logo"
      src="../../assets/images/angular.svg"
      alt="angular-logo"
    />
    <h2>Kieran's Angular Toolbox</h2>
  </div>
  <div class="sidebar">
    <button routerLink="template-driven-form">Forms</button>
    <button routerLink="input-mask">Input Masking</button>
    <button routerLink="subscribe">Observables</button>
    <button routerLink="async-pipe">Pipes</button>
    <button routerLink="axios">Axios (not Angular specific)</button>
    <button routerLink="ng-for">Structural Directives</button>
    <button routerLink="behavior-subject">Behavior Subject</button>
    <button routerLink="input">Input()</button>
    <button routerLink="output">Output() + Event Emitters</button>
    <button routerLink="material">Angular Material</button>
    <button routerLink="view-child">View Child</button>
    <button class="inactive">Components + Services</button>
    <button class="inactive">Dependency Injection</button>
    <button class="inactive">Routing</button>
    <button class="inactive">Http Client</button>
    <button class="inactive">AuthGuard + CanActivate</button>
  </div>
</div>
