<div class="container">
  <div class="content">
    <img
      class="angular-logo"
      src="../../assets/images/angular.svg"
      alt="angular-logo"
    />
    <h2>Kieran's Angular Toolbox</h2>
  </div>
  <div class="sidebar">
    <button routerLink="forms">Forms</button>
    <button routerLink="input-mask">Input Masking</button>
    <button routerLink="observables">Observables</button>
    <button routerLink="pipes">Pipes</button>
    <button class="inactive">Input()</button>
    <button class="inactive">Output() + Event Emitters</button>
    <button class="inactive">*ngFor, *ngIf/else</button>
  </div>
</div>
