.container {
  margin-left: 30px;
  display: flex;
}

button {
  margin: 10px;
}

.code {
  cursor: pointer;
}

.left {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.image-div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.logic {
  border: 1px solid gray;
  padding: 50px;
  border-radius: 20px;
}

img {
  margin-bottom: 30px;
  width: 40vw;
  min-width: 400px;
}
