<app-routingnav></app-routingnav>
<div class="container">
  <div class="box">
    <button routerLink="/first-route">first route</button>
    <button routerLink="/second-route">second route</button>
    <button routerLink="special-route">special route</button>
    <h4>take note of the current endpoint in the URL</h4>
  </div>
  <p>app-routing.module.ts</p>
  <img src="../../../assets/images/routing-routing.png" alt="code" />
  <p>routerlink.component.html</p>
  <img src="../../../assets/images/routing-html.png" alt="code" />
</div>
